.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// colors
$CustomeLabelColor:white;


// label
$customModalBackground:rgb(93, 90, 90);
$cutomPrimaryColor:#ff811b;

// Modal
$modal-content-color:$CustomeLabelColor;
$modal-content-bg:$customModalBackground;
$modal-content-border-color:white;
$modal-content-border-width:2px;

// Tab
$nav-tabs-link-active-bg:$cutomPrimaryColor;
$nav-tabs-link-active-color:$CustomeLabelColor;

.nav-item {
  width: 100px;
  text-align: center;
}

// $primary:#ff811b;

$theme-colors: ("primary": #ff811b,
  "danger": #ff4136);
$border-radius: 10px;

// .modal-content,
// .tab-content,
// .modal-body {
//   background-color: black;
//   color: white;
// }

@import "../node_modules/bootstrap/scss/bootstrap";