@import '/src/App.scss';

.DeleteItemPage {
    .modal-title {
        color: $cutomPrimaryColor !important;
        font-weight: 700 !important;
    }

    .subtitle {
        color: $cutomPrimaryColor !important;
    }
}