.Header {
    .nav-link {
        margin: auto;
        padding-left: 50px !important;
    }

    .nav-link:active {
        color: #ffff !important;
    }

    .navbar-brand {
        vertical-align: middle !important;

        img {
            align-items: center;
            height: 55px;
            vertical-align: middle !important;
            width: 200px;
            object-fit: cover;
        }
    }
}