@import '/src/App.scss';

.HowItWorksPage {
    .row {
        .card {
            // background-color: pink;
            margin-top: 15px;
            border-radius: 10px;
            border: 1px solid $customModalBorder;
        }

        .card-img-top {
            border-radius: 10px 10px 0px 0px;
            height: 150px;
            object-fit: contain;
        }

        .card-body {
            border-radius: 0px 0px 10px 10px;
            background-color: $customModalBackground;
            color: $cutomPrimaryColor;
        }
    }
}