.SanitizerImageText {
    text-align: right;
    color: black;
    font-weight: bold;
    // text-decoration-line: underline;
    font-size: x-large;
    word-wrap: normal;
    // vertical-align: middle;
}